<!DOCTYPE html>
<html>
  <head>
    <title>CyberSecT</title>
    <link rel="icon" href="Images/Logo.png">
    <link rel="stylesheet" href="homePage.css">
  </head>
  <body>
    <div class="corner-buttons">
		<button onclick="changeIframeSrc('Introduction.html')" style="margin-right: 10px">Home</button>
		<button onclick="changeIframeSrc('emailTrap.html')" style="margin-right: 10px">Урок 1</button>
		<button onclick="changeIframeSrc('tutorial2.html')" style="margin-right: 10px">Урок 2</button>
		<button onclick="changeIframeSrc('phishing.html')" style="margin-right: 10px">Фишинг</button>
		<button onclick="changeIframeSrc('Malware.html')" style="margin-right: 10px">Зловредни атаки</button>
		<button onclick="changeIframeSrc('DoSAttacks.html')" style="margin-right: 10px">Атаки чрез отказ</button>
	  </div>
	  
    <div id="left-side">
      <div id="left-side-top">
        <div>
          <div style="border-radius: 100%;" onclick="window.location='profilePage.html'" class="container">
            <img src="images/img_avatar.png" alt="">
            <div class="overlay"></div>
          </div>
          <div id="progress-bar-container">
            <div id="progress-bar"></div>
            <div id="progress-text">0%</div>
          </div>
        </div>
        <div id="info">
          <h2>Info</h2>
          <p>Name: Петър Иванов</p>
          <p>Age: 30</p>
          <p>Address: Люлин 5</p>
          <p>Email: p.ivanov@example.com</p>
        </div>
      </div>
      <div id="left-side-bottom">
        <div>
          <h2>Sub-Info</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nibh et dui vestibulum, vitae cursus ante pretium.</p>
        </div>
      </div>
    </div>
    <div id="right-side">
      <iframe id="myIframe" src="Introduction.html" frameborder="0"></iframe>
    </div>
    <script>

      let progress_var = 0.0;
			let progress_max = 6.0;

			function increment() {
				progress_var++;
        progress = 100 * (progress_max / progress_var);
			}

      const progressBar = document.getElementById('progress-bar');
      const progressText = document.getElementById('progress-text');
      const progress = 100;
      progressBar.style.width = `${progress}%`;
      if (progress < 25) {
        progressBar.style.backgroundColor = '#FF0000';
      } else if (progress >= 25 && progress < 50) {
        progressBar.style.backgroundColor = '#FFA500';
      } else if (progress >= 50 && progress < 75) {
        progressBar.style.backgroundColor = '#FFFF00';
      } else if (progress >= 75 && progress != 100) {
        progressBar.style.backgroundColor = '#008000';
      } else if (progress == 100) {
        progressBar.style.backgroundColor = '#66E8DB';
      }
      progressText.textContent = `${progress}%`;
      
      function changeIframeSrc(url) {
        const iframe = document.getElementById('myIframe');
        iframe.src = url;
      }
    </script>
  </body>
</html>
