<!DOCTYPE html>
<html>
  <head>
    <title>CyberSecT</title>
    <link rel="icon" href="Images/Logo.png">
    <link rel="stylesheet" href="homePage.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="corner-buttons">
        <button onclick="changeIframeSrc('homePage.html')">Home</button>
        <button onclick="changeIframeSrc('tutorial1.html')">Tutorial 1</button>
        <button onclick="changeIframeSrc('tutorial2.html')">Tutorial 2</button>
        <button onclick="changeIframeSrc('tutorial3.html')">Tutorial 3</button>
		<button onclick="changeIframeSrc('Malware.html')">Malware training</button>
        <button onclick="changeIframeSrc('')"></button>
        <button onclick="changeIframeSrc('')"></button>
      </div>
    </div>
    <div id="left-side">
      <div id="left-side-top">
        <div>
          <div style="border-radius: 100%;" onclick="window.location='profilePage.html'" class="container">
            <img src="images/img_avatar.png" alt="">
            <div class="overlay"></div>
          </div>
          <div id="progress-bar-container">
            <div id="progress-bar"></div>
            <div id="progress-text">0%</div>
          </div>
        </div>
        <div id="info">
          <h2>Info</h2>
          <p>Name: John Doe</p>
          <p>Age: 30</p>
          <p>Address: 123 Main St</p>
          <p>Email: john@example.com</p>
        </div>
      </div>
      <div id="left-side-bottom">
        <div>
          <h2>Sub-Info</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod nibh et dui vestibulum, vitae cursus ante pretium.</p>
        </div>
      </div>
    </div>
    <div id="right-side">
      <iframe id="myIframe" src="homePage.html" frameborder="0"></iframe>
    </div>
    <script>
      const progressBar = document.getElementById('progress-bar');
      const progressText = document.getElementById('progress-text');
      const progress = 100;
      progressBar.style.width = `${progress}%`;
      if (progress < 25) {
        progressBar.style.backgroundColor = '#FF0000';
      } else if (progress >= 25 && progress < 50) {
        progressBar.style.backgroundColor = '#FFA500';
      } else if (progress >= 50 && progress < 75) {
        progressBar.style.backgroundColor = '#FFFF00';
      } else if (progress >= 75 && progress != 100) {
        progressBar.style.backgroundColor = '#008000';
      } else if (progress == 100) {
        progressBar.style.backgroundColor = '#66E8DB';
      }
      progressText.textContent = `${progress}%`;
      
      function changeIframeSrc(url) {
        const iframe = document.getElementById('myIframe');
        iframe.src = url;
      }
    </script>
  </body>
</html>
