<!DOCTYPE html>
<html>
<head>
	<title>CyberSecT</title>
    <link rel="icon" href="Images/Logo.png">
	<link rel="stylesheet" href="tutorialPage.css">

</head>
<body>

	<div class="top-bar">
		<div class="corner-buttons">

		  <a href="/dashboard"><button>Home</button></a>
		  <a href="/tutorial-1"><button style="background-color: #6060A1;">Tutorial 1</button></a>
		  <a href="/tutorial-2"><button>Tutorial 2</button></a>
		  <a href="/tutorial-3"><button >Tutorial 3</button></a>


	  </div>
  </div>
	<div id="left-side" style="margin-top: 60px;">
        <div id="left-side-top">
            <div class="container" id="profile-pic-wrapper">
              <a href="profilepage.html" style="position: relative;"><img id="profile-pic" src="Images/SEXBOMB.jpg" alt="Profile Pic"></a>
              
			  <div id="progress-bar-container">
				<div id="progress-bar"></div>
			  </div>
			  <h2 style="font-size: small;">Tutorial progress: %</h2>
			  <div class="overlay"></div>

                <div id="info">
                    <h2>Info</h2>
                    <p>Name: Corinna Koprf</p>
                    <p>Age: 30</p>
                    <p>Address: 123 Main St</p>
                    <p>Email: john@example.com</p>
                </div>
            </div>
        </div>
        <div id="left-side-bottom">
            <div id="tutorial-steps">
              <h1>Header</h1>
                <h2>Tutorial Steps:</h2>

              </div>
        </div>
    </div>
    
    <div id="right-side" style="margin-top: 60px;">
		<iframe src="" style="border: none; width: 100%; height: 100%;">
			
		</iframe>

    </div>

    </div>
	<script>
		const progressBar = document.getElementById('progress-bar');
		const progress = 75; 
		progressBar.style.width = `${progress}%`;
		</script>
</body>
</html>